        :root{
            --first-color: #041367;
            --second-color: #ffffff;
            --third-color: #fbc61d;
            --transp-color: rgba(0, 0, 0, 0);
        }
        
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

      
        @media screen and (max-width: 915px) {
            .head2, .head2 a, .head2 p{
                display: none;
            }
    
            .head1{
                padding-right: 40px;
            }
            #haha{
                visibility: visible;
                z-index: 0;
                color: var(--second-color);
            }

            #main{
                background-size: 75%;
            }

            #head444:hover{
               opacity: 1;
               background-color: #0620b1be;
               top: 20px;
               height: 250px;
               margin-top: 30px;
               padding-top: 45px;
               transition: all 0.5s ease-in-out;
            }
        }
        
        @media screen and (max-width: 600px) {
            #haha{
                position: fixed;
                left: 300px;
            }
        }
        .haha{
            width: 50px;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            visibility: hidden;
        }

        body{
            height: calc(100vh - 85px);
            position: relative;
        }

        .container{
            background-repeat: no-repeat;
            width: 100%;
            min-width: 600px;
            height: 80vh;
            background-color: var(--first-color);
            padding: 0 40x;

        }

        .header{
            display: flex;
            justify-content: space-between;
            padding: 40px 80px;
        }

        .head1{
            padding-right: 40px;
        }

        .head2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 430px;
            color: var(--second-color);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 600;
            gap: 15px;
        }

        .head2 a{
            text-decoration: none;
            color: var(--second-color);
        }
        
        .head3>button{
            background-color: var(--third-color);
            border-radius: 100px;
            height: 50px;
            width: 150px;
            border: none;
            font-size: 15px;
            margin-left: 40px;
        }

        .head444{
            position: absolute;
            left: 50%;
            transform: translateX(-49%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: var(--first-color);
            border: solid 1px black;
            color: var(--second-color);
            gap: 30px;
            width: 250px;
            height: 200px;
            padding: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 600;
            opacity: 0;
        }

        .head444 a{
            text-decoration: none;
            color: var(--second-color);
        }

         .head31>button{
            background-color: var(--third-color);
            border-radius: 50px;
            height: 70px;
            width: 200px;
            border: none;
            font-size: 18px;
            margin-top: 45px;
            color: var(--first-color);
        }
        .main{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 40px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: var(--first-color);
            background-image: url(image.png);
            background-position-x: center;
            background-repeat: no-repeat;
            background-size: 55%;
        }

        .main1{
            color: var(--second-color);
        }

        #h1 {
            font-size: 70px;
            font-weight: 300;
            line-height: 44px;
            padding-bottom: 30px;
        }

        #strong{
            font-size: 65px;
            font-weight: 600;
            line-height: 44px;
        }